@{
    ViewData["Title"] = "DetailsPA";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject ComplaintFormCore.Resources.SharedViewLocalizer Localizer

@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
   
}

<div id="surveyElement" style="display:inline-block;width:100%;">
    <survey :survey='survey' />
</div>

<div id="surveyResult"></div>

<center>
    <div id="div_navigation">
        <button id="btnSurveyPrev" onclick="survey.prevPage();" class="btn btn-primary" style="display: none">@Localizer.GetLocalizedString("btnSurveyPrev")</button>
        <button id="btnSurveyNext" onclick="survey.nextPage();" class="btn btn-primary" style="display: none">@Localizer.GetLocalizedString("btnSurveyNext")</button>
        <button id="btnShowPreview" onclick="showPreview(survey);" class="btn btn-primary" style="display: none">@Localizer.GetLocalizedString("btnShowPreview")</button>
        <button id="btnComplete" onclick="survey.doComplete();" class="btn btn-primary" style="display: none">@Localizer.GetLocalizedString("btnComplete")</button>
        @*<button id="btnEndSession" onclick="endSession()" class="btn btn-primary">@Localizer.GetLocalizedString("btnEndSession")</button>*@
        <button id="btnStart" onclick="startSurvey(survey);" class="btn btn-primary" style="display: none">Start</button>
        <button id="pdfPreviewBtn" class="btn btn-primary" onclick="showPDF()" style="display: block">PDF Preview</button>
    </div>
</center>

@section CustomStyles {
    <link href="~/css/site.css" rel="stylesheet" />
}

@section CustomScripts {

    <script src="~/dist/bundle.js"></script>



    <script type="text/javascript">

        const lang = "@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName";
        const token = "@ViewBag.token";

        initPaSurvey(lang, token);

        function showPDF() {
            exportToPDF(lang);
        }

        function checkBoxInfoPopup(inputElement) {
            checkBoxInfoPopupEvent(inputElement);
        }
    </script>
}

