@{
    ViewData["Title"] = "PIA E-Tool";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject ComplaintFormCore.Resources.SharedViewLocalizer Localizer

@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }

}

<div id="surveyElement" style="display:inline-block;width:100%;">
    <survey :survey='survey' />
</div>

<div id="surveyResult"></div>

<ul class="breadcrumb" role="tablist" id="ul_pia_navigation">
    <li class="breadcrumb-item" onclick="gotoSection('0')" id="li_breadcrumb_0">
        <p>Information</p>
    </li>
    <li class="breadcrumb-item" onclick="gotoSection('1')" id="li_breadcrumb_1">
        <p>@Localizer.GetLocalizedString("liStep_1")</p>
    </li>
    <li class="breadcrumb-item" onclick="gotoSection('2')" id="li_breadcrumb_2">
        <p>@Localizer.GetLocalizedString("liStep_2")</p>
    </li>
    <li class="breadcrumb-item" onclick="gotoPage('page_step_2_2_q_2_2_13')" id="li_breadcrumb_2.2.13">
        <p>Page 2.2.13</p>
    </li>
    <li class="breadcrumb-item" onclick="gotoSection('3')" id="li_breadcrumb_3">
        <p>@Localizer.GetLocalizedString("liStep_3")</p>
    </li>
    <li class="breadcrumb-item" onclick="gotoSection('3.3')" id="li_breadcrumb_3.3">
        <p>@Localizer.GetLocalizedString("liStep_33")</p>
    </li>
    <li class="breadcrumb-item" onclick="gotoSection('3.4')" id="li_breadcrumb_3.4">
        <p>@Localizer.GetLocalizedString("liStep_34")</p>
    </li>
    <li class="breadcrumb-item" onclick="gotoPage('page_step_3_2_q_3_2_4_q_3_2_5')" id="li_breadcrumb_3.2.4">
        <p>Page 3.2.4</p>
    </li>
    <li class="breadcrumb-item" onclick="gotoSection('3.5')" id="li_breadcrumb_3.5">
        <p>@Localizer.GetLocalizedString("liStep_35")</p>
    </li>
    <li class="breadcrumb-item" onclick="gotoSection('3.6')" id="li_breadcrumb_3.6">
        <p>@Localizer.GetLocalizedString("liStep_36")</p>
    </li>
    <li class="breadcrumb-item" onclick="gotoSection('3.7')" id="li_breadcrumb_3.7">
        <p>@Localizer.GetLocalizedString("liStep_37")</p>
    </li>
    <li class="breadcrumb-item" onclick="gotoSection('3.8')" id="li_breadcrumb_3.8">
        <p>Step 3.8</p>
    </li>
    <li class="breadcrumb-item" onclick="gotoSection('3.9')" id="li_breadcrumb_3.9">
        <p>Step 3.9</p>
    </li>
    <li class="breadcrumb-item" onclick="gotoSection('3.10')" id="li_breadcrumb_3.10">
        <p>Step 3.10</p>
    </li>
    <li class="breadcrumb-item" onclick="gotoSection('3.11')" id="li_breadcrumb_3.11">
        <p>Step 3.11</p>
    </li>
    <li class="breadcrumb-item" onclick="gotoPage('page_step_3_13_1')" id="li_breadcrumb_3.13.1">
        <p>Page 3.13.1</p>
    </li>
    <li class="breadcrumb-item" onclick="gotoPage('page_step_4')" id="li_breadcrumb_4">
        <p>Step 4</p>
    </li>
</ul>

@section CustomStyles {
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/css/breadcrumb.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
}

@section CustomScripts {
    <script src="~/js/clientapp/clientapp.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>

    <script type="text/javascript">
        const lang = "@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName";
        const token = "@ViewBag.token";

        initPiaETool(lang, token);
    </script>
}

